# Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Swift Package Manager
.build/
.swiftpm/

# Sparkle
*.delta
*.dmg

# Temporary files
*.swp
*~

# Build artifacts
build/
export/
release/
